/*parametrage globaux*/

/*color principal :  rgb(29, 255, 236);
  color secondaire : rgb(233, 26, 233);
*/

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode', sans-serif;
    ;
}

h2, h3 {
    min-height: 8vh;
    font-size: x-large;
    color: rgb(29, 255, 236);
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-stroke: .02rem;
    -webkit-text-stroke-color: rgb(233, 26, 233);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.button {
    border: double rgb(233, 26, 233) 3px;
    padding: 5px;
    border-radius: 25px;
    color: rgb(29, 255, 236);
}

.button:hover {
    background-color: rgb(233, 26, 233);
    color: rgb(29, 255, 236);
    padding: 5px;
    border-radius: 25px;
}

.menuBurger {
    display: none;
}

.logo {
    display: none;
}

/*h1 exept header h1*/
.mangaAnimeContainerSubContainer h1,
#arts h1,
#jeux-videos h1 {
    text-align: center;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(29, 255, 236);
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-stroke: .02rem;
    -webkit-text-stroke-color: rgb(233, 26, 233);
    border-bottom: double rgb(29, 255, 236) 4px;
    border-radius: 25px;
}

.arts-visuel .cards{
    border: double rgb(29, 255, 236) 4px;
    border-radius: 25px;
}
.arts-sonore .cards{
    border-top: double rgb(233, 26, 233) 4px;
    border-left: double rgb(233, 26, 233) 4px;
    border-bottom: double rgb(29, 255, 236) 4px;
    border-right: double rgb(29, 255, 236) 4px;
    border-radius: 25px;
}

.arts-numerique .cards{
    border: double rgb(233, 26, 233) 4px;
    border-radius: 25px;
}

/*Header*/
header {
    background-image: url("./assets/img/shinobuChan.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center 18%;
}

/*header a {
    color: #551A8F;
}*/

.imgContainer {
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.imgContainer img {
    width: 8rem;
}

.imgContainer ul {
    margin: 1rem 2rem 1rem auto;
    display: flex;
}

.imgContainer li {
    border: double rgb(233, 26, 233) 3px;
    margin: 5px;
    border-radius: 25px;
    padding: 10px;
}

.imgContainer li:hover {
    background-color: black;
    color: rgb(233, 26, 233);
    border-radius: 25px;
}

.imgContainer li a:hover{
    color: rgb(233, 26, 233);
}

.imgContainer li a:active{
    color: rgb(29, 255, 236);
}


/*menu deroulant*/
.menuDeroulant li {
    width: 200px;
    border: double rgb(233, 26, 233) 3px;
    border-radius: 25px;
    text-align: center;
}

.menuDeroulant li a {
    display: block;
    padding: 20px;
    margin: 0 auto;
    color: rgb(29, 255, 236);
    font-weight: 900;
}

.deroulant {
    font-size: 1.3rem;
    -webkit-text-stroke: .002rem;
    -webkit-text-stroke-color: rgb(233, 26, 233);
}

.menuDeroulant li a:hover {
    background-color: rgb(29, 255, 236);
    color: rgb(233, 26, 233);
    border-radius: 25px;
    padding: 20px;
}

/*menu deroulant sub menu*/

.menuDeroulant li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
}

.sub-menu li {
    display: block;
}

.sub-menu li a {
    background-color: rgb(0, 8, 8);
    color: rgb(29, 255, 236);
    border-radius: 25px;
    text-align: center;
}

.sub-menu li:hover a {
    background-color: rgb(29, 255, 236);
    color: rgb(233, 26, 233);
    font-size: 1.2rem;
}

.sub-menu li:active a {
    background-color: rgb(233, 26, 233);
    color: rgb(29, 255, 236);
    font-size: 1.2rem;
}

.sub-menu li a:hover {
    background-color: rgb(29, 255, 236);
}

.sub-menu li a:active {
    background-color: rgb(233, 26, 233);
}

.menuDeroulant li:hover a {
    display: block;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    min-height: 20vh;
}

/*header title*/
header h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-size: xxx-large;
    color: rgb(29, 255, 236);
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-stroke: .02rem;
    -webkit-text-stroke-color: rgb(233, 26, 233);
    animation: rotateAndGrowMainTitle 3s linear;
}

@keyframes rotateAndGrowMainTitle {
    0% {
        transform: rotate(0deg) scale(0.2);
    }

    25% {
        transform: rotate(90deg) scale(0.4);

    }

    50% {
        transform: rotate(180deg) scale(0.6);
    }

    75% {
        transform: rotate(260deg) scale(0.8);
    }

    100% {
        transform: rotate(360deg) scale(1);

    }
}

/*Slideshow manga Anime*/

.mangaAnimeContainer {
    min-height: 100vh;
    background: rgb(29, 255, 236);
    background: linear-gradient(90deg, rgba(29, 255, 236, 1) 0%, rgba(233, 26, 233, 1) 100%);
}

.mangaAnimeContainerSubContainer {
    width: 100%;
}

/*carousel*/

.carousel {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.carousel ul {
    padding: 0;
    display: flex;
    padding-bottom: 1rem;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
}

.carousel-item {
    margin-left: 1rem;
    padding: 0;
}

/*Carousel cards*/

.card {
    border: double rgb(233, 26, 233) 4px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-content {
    margin: 15px;
}

.card-content p {
    margin: 15px;
}

.card-title {
    text-align: center;
}

.card img {
    /*min-height: 50vh;
    max-height: 50vh;*/
    border-radius:25px ;
}

/*Scroll bars*/

::-webkit-scrollbar-track {
    background-color: rgb(29, 255, 236);
}

::-webkit-scrollbar {
    height: 6px;
    background-color: rgb(233, 26, 233);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(233, 26, 233);
    border-radius: 3px;
}

/*Arts*/

#arts {
    background: rgb(29, 255, 236);
    background: linear-gradient(90deg, rgba(233, 26, 233, 1) 0%, rgba(29, 255, 236, 1) 100%);
}

.arts-subcontainer {
    display: flex;
    flex-basis: content;
}

.art {
    flex: content;
}

.art h2 {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 355px;
    min-width: 20rem;
    height: 20rem;
}

.cards img {
    margin: 2.7rem auto;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

#fillette3d {
    object-position: 35% center;
}

.arts-numerique img:hover {
    transform: scale(1.5);
    cursor: pointer;
    border: double rgb(233, 26, 233) 3px;
    border-radius: 50%;
}

.arts-visuel img:hover {
    transform: scale(1.5);
    cursor: pointer;
    border: double rgb(29, 255, 236) 3px;
    border-radius: 50%;
}

.cards p {
    margin-bottom: 1rem;
}

.cards .button {
    margin-bottom: 1.3rem;
}

audio {
    margin: 4.2rem auto;
}

/*Jeux-vidéos*/

#jeux-videos{
    background: linear-gradient(90deg, rgba(29, 255, 236, 1) 0%, rgba(233, 26, 233, 1) 100%);
}

#jeux-videos h1 {
    width: 100%;
    text-align: center;
  

}

.jeuxVideosSubcontainer {
    display: flex;
    background-image: url("./assets/img/valoBG.webp");
    background-size: cover;
    background-position: center;

}

.leftContainer {
    width: 50%;
    border-radius: 0 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content p {
    text-align: justify;
    padding: 1rem;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 900;
    border: double rgb(233, 26, 233) 4px;
    color: rgb(233, 26, 233);
    -webkit-text-stroke: 0.04rem;
    -webkit-text-stroke-color: rgb(233, 26, 233);

}

.content img {
    width: 30rem;
    margin: 10px auto;
    border-radius: 25px;
    border: double rgb(233, 26, 233) 4px;
    object-fit: cover;
}

.content img:hover {
    transform: scale(1.1);
    border: double rgb(233, 26, 233) 4px;
    object-fit: cover;
    cursor: pointer;
}

.content .button {
    width: 20rem;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: 1.1rem;
}

.rightContainer {
    width: 50%;
}

/*Footer*/
footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(29, 255, 236);
    background: linear-gradient(90deg, rgba(233, 26, 233, 1) 0%, rgba(29, 255, 236, 1) 100%);
}

/*TABLETTE QUERIES*/


@media screen and (max-width: 985px) {

    /*Nav menu Burger and logo*/
    .imgContainer {
        display: none;
    }

    .menuBurger {
        position: absolute;
        width: 0px;
        display: block;
        z-index: 1;
    }

    #hamburger {
        /*pour retirer la checkbox*/
        display: none;
    }

    #hamburger-logo {
        cursor: pointer;
        background-color: rgb(29, 255, 236);
        width: 200px;
        display: block;
        color: rgb(233, 26, 233);
        /*pour que le menu soit a droite et toujours afficher*/
        text-align: right;
        padding: 10px;
        transform: translateX(-168px);
    }

    .menuBurger nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(29, 255, 236);
        overflow: hidden;
        width: 200px;
        margin-top: -5px;
        transform: translateX(-200px);
    }

    .menuBurger nav a {
        text-align: right;
        color: rgb(233, 26, 233);
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }

    #hamburger-logo,
    nav {
        transition: 0.7s;
    }

    #hamburger:checked~#hamburger-logo,
    #hamburger:checked~nav {
        transform: translate(0);
    }

    .logo {
        display: block;
        position: absolute;
        right: 5px;
        width: 5rem;
    }

    p,
    h2,
    .button,
    figcaption,
    #jeux-videos p,
    .content .button {
        font-size: 1.4rem;
    }

    /*header*/

    header {
        background-position: 25%;
    }

    header h1{
        min-height: 70vh;
    }

    /*MANGA/ANIME*/

    .carousel {
        display: flex;
        justify-content: center;
    }

    .carousel-items {
        width: 100%;
    }

    .carousel-item {
        margin: 0;
        width: 100%;
    }

    .card {
        width: 100vw;
    }

    .card img {
        margin: 0 auto;

    }

    .card img:hover{
        transform: scale(1.2);
    }

    .card .card-content .button {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    }

    /*ARTS*/

    .arts-subcontainer {
        display: flex;
        flex-direction: column;
    }

    .jeuxVideosSubcontainer {
        display: flex;
        flex-direction: column;
        background-position: 52%;
    }

    .art .cards {
        height: auto;
        border-left: double rgb(29, 255, 236) 4px;
        border-right: double rgb(233, 26, 233) 4px;
    }

    .leftContainer,
    .rightContainer {
        width: 100%;
    }

    .content img {
        margin: 2rem auto;
    }

    .content p {
        color: rgb(233, 26, 233);
        -webkit-text-stroke: .04rem;
        -webkit-text-stroke-color: rgb(233, 26, 233);
    }
}

/*MOBILE QUERIES*/

@media screen and (max-width: 625px) {
    /*Title h1 Header*/

    header h1 {
        font-size: xx-large;
        min-height: 40vh;
    }

    /*menu Deroulant*/
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .menu-container{
        margin: 1rem auto;
    }

    /*manga/anime*/
    .carousel .card p {
        text-align: center;
    }

    .card {
        width: 100vw;
    }

    .card img {
        margin: 0 auto;
        width: 90%;
    }

    .card img:hover{
        transform: scale(1.1);
    }

    /*Jeux-vidéos*/

    .jeuxVideosSubcontainer {
        background-image: url("./assets/img/BGvalo3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        width: 100%;
    }

    .content h2 {
        text-align: center;
    }

    .content img {
        width: 90%;
    }

    .content p {
        text-align: center;
    }

    .content .button {
        color: rgb(29, 255, 236);
    }

    /*Footer*/
    footer p {
        text-align: center;
    }
}

@media screen and (max-height : 525px) {
    header h1{
        min-height: 10vh;
    }
    
}

@media screen and (max-height : 350px) {
   .menuDeroulant li a{
       padding: 0;
    }
    
}


.seo-only {
    display: none;
}